* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#AddEmp{
  text-decoration: none;
  color: white;
}
#DisplayEmp{
  text-decoration: none;
  color: white;
}

.btn {
  margin-top: 10px;
}
